In [14]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

In [16]:
# File to Load
school_datafile = os.path.join('..','Resources', 'schools_complete.csv')
student_datafile = os.path.join('..','Resources', 'students_complete.csv')

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_datafile)
student_data = pd.read_csv(student_datafile)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# Present dataframe
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [17]:
# idenfity schools
total_schools = len(school_data_complete["school_name"].unique())
print(total_schools)

15

In [18]:
# count students
# total_students = len(school_data_complete["size"])
#len(school_data_complete)
total_students = school_data_complete["student_name"].count()
print(total_students)

39170

In [19]:
# total budget - use read file 'school_data' to total budget from school file only             
total_budget = (school_data)["budget"].sum()
#school_data_complete.budget.count()
print(total_budget)

24649428

In [20]:
# ave math score
ave_math = (school_data_complete)["maths_score"].mean()
print(ave_math)

70.33819249425581

In [21]:
# ave reading score
ave_reading = (school_data_complete["reading_score"]).mean()

print(ave_reading)

69.98013786060761

In [22]:
# percentage of students with a passing math score (70 or greater)   

#Number of students who passed
percent_pass_math_df = school_data_complete.loc[school_data_complete['maths_score']>=70,:]
percent_pass_math_df

#Get the percentage
percent_pass_math = len(percent_pass_math_df)/len(school_data_complete)*100
#percent_pass_math

In [23]:
# percentage of students with a passing reading score (70 or greater)

#Number of students who passed
percent_pass_reading_df= school_data_complete.loc[school_data_complete['reading_score']>=70,:]
percent_pass_reading_df

#Get the percentage
percent_pass_reading = len(percent_pass_reading_df)/len(school_data_complete)*100
#percent_pass_reading

In [24]:
# percentage of students who passed math and reading
# percent_pass_both = (len(percent_pass_math)/len(school_data_complete)) * (len(percent_pass_reading)/len(school_data_complete))*100
percent_pass_both = school_data_complete.loc[(school_data_complete['reading_score']>=70) & (school_data_complete['maths_score']>=70), 'Student ID'].count()/len(school_data_complete)*100
print(percent_pass_both)

26.316058207812098

In [25]:
#school_data_complete.loc[(school_data_complete['reading_score']>=70) & (school_data_complete['maths_score']>=70),:]

In [28]:
# create data frame                                                  # refer to  GoodReadsSummary.ipynb 

district_summary = pd.DataFrame({"Total Schools": [total_schools],
                "Total Students": [total_students],
                "Total Budget": [total_budget],
                "Average Math Score": [ave_math],
                "Average Reading Score": [ave_reading],
                "% Passing Math": [percent_pass_math],
                "% Passing Reading": [percent_pass_reading],
                "% Overall Passing": [percent_pass_both]})

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,51.460301,50.814399,26.316058

In [29]:
# group school summary by school
grouped_schools_df = school_data_complete.set_index("school_name").groupby(["school_name"])

# In order to be visualized, a data function must be used...
grouped_schools_df
print(grouped_schools_total_students)

NameError: name 'grouped_schools_total_students' is not defined

In [30]:
# school type                                                
grouped_schools_type = school_data.set_index("school_name")["type"]  
grouped_schools_type

school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Wilson High School       Independent
Cabrera High School      Independent
Bailey High School        Government
Holden High School       Independent
Pena High School         Independent
Wright High School       Independent
Rodriguez High School     Government
Johnson High School       Government
Ford High School          Government
Thomas High School       Independent
Name: type, dtype: object

In [31]:
# calcualte total number of students in each school  
grouped_schools_total_students = grouped_schools_df["Student ID"].count()
print(grouped_schools_total_students)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [32]:
# calculate total school budget
grouped_schools_budget = school_data.set_index("school_name")["budget"]
print(grouped_schools_budget)

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [33]:
# calculate budget per student
grouped_schools_per_student_budget = grouped_schools_budget / grouped_schools_total_students
print(grouped_schools_per_student_budget)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [34]:
# average math score per school
grouped_schools_ave_math = grouped_schools_df["maths_score"].mean()

print(grouped_schools_ave_math)

school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64

In [35]:
# average reading score per school

grouped_schools_ave_reading = grouped_schools_df["reading_score"].mean()
print(grouped_schools_ave_reading)

school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64

In [36]:
# percent passing math

# percent_pass_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()/grouped_schools_total_students 
# print(percent_pass_math)

grouped_schools_percent_pass_math = school_data_complete[school_data_complete["maths_score"] >= 70].groupby("school_name")["Student ID"].count()/grouped_schools_total_students 
print(grouped_schools_percent_pass_math)

school_name
Bailey High School       0.552251
Cabrera High School      0.531755
Figueroa High School     0.476772
Ford High School         0.489595
Griffin High School      0.547003
Hernandez High School    0.492557
Holden High School       0.571429
Huang High School        0.489201
Johnson High School      0.487713
Pena High School         0.554054
Rodriguez High School    0.545136
Shelton High School      0.549688
Thomas High School       0.493578
Wilson High School       0.493649
Wright High School       0.544444
Name: Student ID, dtype: float64

In [37]:
# percent passing reading
# percent_pass_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()/grouped_schools_total_students 
# print(percent_pass_reading)

grouped_schools_percent_pass_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()/grouped_schools_total_students 
print(grouped_schools_percent_pass_reading)

school_name
Bailey High School       0.524518
Cabrera High School      0.532831
Figueroa High School     0.491692
Ford High School         0.504929
Griffin High School      0.541553
Hernandez High School    0.494714
Holden High School       0.555035
Huang High School        0.497772
Johnson High School      0.486032
Pena High School         0.550936
Rodriguez High School    0.527882
Shelton High School      0.492902
Thomas High School       0.507034
Wilson High School       0.483136
Wright High School       0.521667
Name: Student ID, dtype: float64

In [38]:
# percent passing overall
grouped_schools_percent_pass_overall = (percent_pass_math * percent_pass_reading)*100
print(grouped_schools_percent_pass_overall)

261492.42688257733

In [39]:
# create data frame                                                       # refer to  GoodReadsSummary.ipynb 
school_summary = pd.DataFrame({
                "School Type": grouped_schools_type,
                "Total Students": grouped_schools_total_students,
                "Total Budget": grouped_schools_per_student_budget,
                "Toal Budget Per Student": grouped_schools_per_student_budget,
                "Average Math Score": grouped_schools_ave_math,
                "Average Reading Score": grouped_schools_ave_reading,
                "% Passing Math": grouped_schools_percent_pass_math,
                "% Passing Reading": grouped_schools_percent_pass_reading,
                "% Overall Passing": grouped_schools_percent_pass_overall})

school_summary

,School Type,Total Students,Total Budget,Toal Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,628.0,628.0,72.352894,71.008842,0.552251,0.524518,261492.426883
Cabrera High School,Independent,1858,582.0,582.0,71.657158,71.359526,0.531755,0.532831,261492.426883
Figueroa High School,Government,2949,639.0,639.0,68.698542,69.077993,0.476772,0.491692,261492.426883
Ford High School,Government,2739,644.0,644.0,69.091274,69.572472,0.489595,0.504929,261492.426883
Griffin High School,Independent,1468,625.0,625.0,71.788147,71.245232,0.547003,0.541553,261492.426883
Hernandez High School,Government,4635,652.0,652.0,68.874865,69.186408,0.492557,0.494714,261492.426883
Holden High School,Independent,427,581.0,581.0,72.583138,71.660422,0.571429,0.555035,261492.426883
Huang High School,Government,2917,655.0,655.0,68.935207,68.910525,0.489201,0.497772,261492.426883
Johnson High School,Government,4761,650.0,650.0,68.843100,69.039277,0.487713,0.486032,261492.426883
Pena High School,Independent,962,609.0,609.0,72.088358,71.613306,0.554054,0.550936,261492.426883
Rodriguez High School,Government,3999,637.0,637.0,72.047762,70.935984,0.545136,0.527882,261492.426883
Shelton High School,Independent,1761,600.0,600.0,72.034072,70.257808,0.549688,0.492902,261492.426883
Thomas High School,Independent,1635,638.0,638.0,69.581651,69.768807,0.493578,0.507034,261492.426883
Wilson High School,Independent,2283,578.0,578.0,69.170828,68.876916,0.493649,0.483136,261492.426883
Wright High School,Independent,1800,583.0,583.0,72.047222,70.969444,0.544444,0.521667,261492.426883

Top Performing School by % overall Passing

In [40]:
# Sort and display the top five performing schools by % overall passing
top_performing_schools_df = school_summary.sort_values("% Overall Passing", ascending=[False])
top_performing_schools_df.head()

,School Type,Total Students,Total Budget,Toal Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,628.0,628.0,72.352894,71.008842,0.552251,0.524518,261492.426883
Cabrera High School,Independent,1858,582.0,582.0,71.657158,71.359526,0.531755,0.532831,261492.426883
Figueroa High School,Government,2949,639.0,639.0,68.698542,69.077993,0.476772,0.491692,261492.426883
Ford High School,Government,2739,644.0,644.0,69.091274,69.572472,0.489595,0.504929,261492.426883
Griffin High School,Independent,1468,625.0,625.0,71.788147,71.245232,0.547003,0.541553,261492.426883

Buttom performing Scholl by % Overall Passing

In [41]:
# sort_values()
# Sort and display the bottom five performing schools by % overall passing
top_performing_schools_df = school_summary.sort_values("% Overall Passing", ascending=[True])
top_performing_schools_df.head()

,School Type,Total Students,Total Budget,Toal Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,628.0,628.0,72.352894,71.008842,0.552251,0.524518,261492.426883
Cabrera High School,Independent,1858,582.0,582.0,71.657158,71.359526,0.531755,0.532831,261492.426883
Figueroa High School,Government,2949,639.0,639.0,68.698542,69.077993,0.476772,0.491692,261492.426883
Ford High School,Government,2739,644.0,644.0,69.091274,69.572472,0.489595,0.504929,261492.426883
Griffin High School,Independent,1468,625.0,625.0,71.788147,71.245232,0.547003,0.541553,261492.426883

Reading Score By Grade

In [42]:
# Create a pandas series for each grade
# nine = student_data.loc[student_data["grade"] == '9th']
# ten = student_data.loc[student_data["grade"] == '10th']
# eleven = student_data.loc[student_data["grade"] == '11th']
# twelve = student_data.loc[student_data["grade"] == '12th']

In [45]:
# group by school
nine_read_group = nine.groupby("school_name")["reading_score"].mean()
ten_read_group = ten.groupby("school_name")["reading_score"].mean()
eleven_read_group = eleven.groupby("school_name")["reading_score"].mean()
twelve_read_group = twelve.groupby("school_name")["reading_score"].mean()

NameError: name 'nine' is not defined

In [44]:
# create df
reading_scores = pd.DataFrame({"9th": nine_read_group, 
                            "10th": ten_read_group, 
                            "11th": eleven_read_group, 
                            "12th": twelve_read_group})

reading_scores

NameError: name 'nine_read_group' is not defined

Score By School Spending

In [ ]:
school_summary = pd.DataFrame({
                "School Type": grouped_schools_type,
                "Total Students": grouped_schools_total_students,
                "Total Budget": grouped_schools_per_student_budget,
                "Total Budget Per Student": grouped_schools_per_student_budget,
                "Average Math Score": grouped_schools_ave_math,
                "Average Reading Score": grouped_schools_ave_reading,
                "% Passing Math": grouped_schools_percent_pass_math,
                "% Passing Reading": grouped_schools_percent_pass_reading,
                "% Overall Passing": grouped_schools_percent_pass_overall})
                         
# # use school_summary dataframe per LinLin
# # school_summary.dtypes

In [ ]:
# create bins and labels    
bins = [0, 585, 630, 645, 680]
group_labels = ['<$585', '$585-630', '$630-645', '$645-680']

In [ ]:
# Slice the data and place it into bins
school_summary["Spending Ranges"] = pd.cut(school_summary["Total Budget Per Student"], bins, labels=group_labels)

In [ ]:
# Slice the data and place it into bins
school_summary["Spending Ranges"] = pd.cut(school_summary["Total Budget Per Student"], bins, labels=group_labels)

In [ ]:
# remove unecessary columms by identifying the ones keep

#del school_spending_summary['Total Students']

# school_spending_summary = school_spending_summary(columns={"Average Math Score": "ave_math",
#                                                     "Average Reading Score": "ave_reading",                                                      
#                                                     "% Passing Math": "grouped_schools_percent_pass_math",
#                                                      "% Passing Reading": "grouped_schools_percent_pass_reading",
#                                                       "% Overall Passing": "grouped_schools_percent_pass_overall" })
# school_spending_summary

Score By School Size

In [ ]:
# create bins and labels    
bins = [0, 1000, 2000, 5000]
group_labels = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']

In [ ]:
# Slice the data and place it into bins  
school_summary["School Size"] = pd.cut(school_summary['Total Students'], bins=bins,labels=group_labels)

In [ ]:
# pivot table - attempt to resolve inability to groupby using school_summary dataframe that does not recognize 'Total Stuents'
school_summary_pv = school_summary

school_summary_pv = school_summary.pivot_table(index='Total Students')
school_summary_pv.head()

,% Overall Passing,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Total Budget,Total Budget Per Student
Total Students,,,,,,,
427,261492.426883,0.571429,0.555035,72.583138,71.660422,581.0,581.0
962,261492.426883,0.554054,0.550936,72.088358,71.613306,609.0,609.0
1468,261492.426883,0.547003,0.541553,71.788147,71.245232,625.0,625.0
1635,261492.426883,0.493578,0.507034,69.581651,69.768807,638.0,638.0
1761,261492.426883,0.549688,0.492902,72.034072,70.257808,600.0,600.0

Score By School Type

In [ ]:
# copy dataframe to create Scores by School Type
school_summary = pd.DataFrame({
                "School Type": grouped_schools_type,
                "Total Students": grouped_schools_total_students,
                "Total Budget": grouped_schools_per_student_budget,
                "Total Budget Per Student": grouped_schools_per_student_budget,
                "Average Math Score": grouped_schools_ave_math,
                "Average Reading Score": grouped_schools_ave_reading,
                "% Passing Math": grouped_schools_percent_pass_math,
                "% Passing Reading": grouped_schools_percent_pass_reading,
                "% Overall Passing": grouped_schools_percent_pass_overall})
                         
#school_summary.dtypes

In [ ]:
# school_type_summary = school_summary.loc[:, ["Average Math Score", "Average Reading Score",
#                                      "Percent Passing Math", "Percent Passing Reading",
#                                      "Overall Passing Rate"]]
# school_type_summary

In [ ]:
# group by type of school
groupby_type = school_data_complete.groupby("type")
print(groupby_type)
groupby_type.max()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001DD86CD98E0>

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,size,budget
type,,,,,,,,,,
Government,37534,Zoe Meyer,M,12,Rodriguez High School,99,99,13,4976,3124928
Independent,39169,Zoe Mayer,M,12,Wright High School,99,99,14,2283,1319574